defaults:
  weather_api_key: '__your_api_key__'
  google_client_id: '__your_client_id__'
  google_client_secret: '__your_client_secret__'
  app_host: 'http://localhost:3000'
  ipgeolocation_api_key: '__your_api_key__'
  connection_options: { host: "__your_host__",
                        port: "__your_port__",
                        vhost: "__your_vhost__",
                        username: "__your_username__",
                        password: "__your_password__"
                        }
